<button type="@Type" class="btn btn-success @(ContainerSize ? "form-control" : "")" disabled="@Disabled" id="@Id" @onclick="EjecutarOnClick">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-box-seam-fill me-1" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003zM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461z" />
    </svg>
    @Text
</button>

@code {

    [Parameter] public string Text { get; set; } = "button";
    [Parameter] public string Type { get; set; } = "button";
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public Action? OnClick { get; set; } = null!;
    [Parameter] public Func<Task>? OnClickAsync { get; set; } = null;
    [Parameter] public bool ContainerSize { get; set; } = true;
    [Parameter] public string Id { get; set; } = "";

    private async Task EjecutarOnClick()
    {
        Disabled = true;
        if (Type == "button")
        {
            if (OnClick != null)
            {
                OnClick?.Invoke();
            }
            if (OnClickAsync != null)
            {
                await OnClickAsync.Invoke();
            }
        }
        Disabled = false;
    }

}
