<div class="alert alert-dark" role="alert">
    <h4 class="alert-heading">Acceso no autorizado</h4>
    <p>No está autorizado para acceder a esta página. Por favor, inicie sesión con las credenciales adecuadas.</p>
    <hr>
    <p class="mb-0">Si cree que esto es un error, póngase en contacto con el administrador del sistema.</p>
</div>